/* Reseteamos algunos márgenes por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el contenedor del Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
}

.navbar .logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347; /* Color de hover (tomate) */
}

/* Estilos para el ícono del menú hamburguesa (aparece en dispositivos pequeños) */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.hamburger span {
    background-color: white;
    height: 4px;
    width: 100%;
}

.logo-img{
    width: 3em;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .logo-img{
        width: 3em;
    }
}
