 <!-- Contenido principal envuelto en <main> -->
    <main>
        <section class="hero">
            <h1>Bienvenido a Nuestro Mundo Digital</h1>
            <p>Transformamos ideas en soluciones tecnológicas.</p>
            <button class="cta-button">Descubre Más</button>
        </section>

        <section class="features">
            <h2>Nuestros Servicios</h2>
            <div class="feature-cards">
                <div class="card">
                    <img src="https://i.pinimg.com/736x/52/2e/6b/522e6bc1a11d1726a35f81cbd979395f.jpg" alt="Diseño Web">
                    <h3>Diseño Web</h3>
                    <p>Creación de sitios web personalizados y responsivos para tu negocio.</p>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtsRGfE_o50WyAr_Rx7pAVsF6xtcoiZVXG1g&s" alt="Desarrollo Frontend">
                    <h3>Desarrollo Frontend</h3>
                    <p>Desarrollo de interfaces atractivas y funcionales para una experiencia óptima.</p>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX9upeahuf_bVx6FXsV5rYCV1Lx2U8q3JAog&s" alt="Desarrollo Backend">
                    <h3>Desarrollo Backend</h3>
                    <p>Desarrollamos la parte lógica y dinámica de tu sitio web o aplicación.</p>
                </div>
            </div>
        </section>

        <section class="about">
            <h2>Acerca de Nosotros</h2>
            <p>Somos un equipo de desarrolladores apasionados por la tecnología y el diseño, comprometidos con ofrecer soluciones innovadoras que ayuden a nuestros clientes a alcanzar sus objetivos.</p>
            <button class="cta-button">Más Información</button>
        </section>
    </main>